@font-face {
	font-family: "Avenir LT Std";
	src: local("Avenir LT Std"), url(../fonts/Avenir-LT-Std/Avenir-LT-Std-Light.otf) format("truetype");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: #f7f7f7;
	font-family: "Avenir LT Std", sans-serif;
}

.container {
	max-width: 80%;
	margin: 0 auto;
}

/* -------------------------- NAVBAR -------------------------- */

nav {
	display: flex;
	justify-content: space-between;
	padding: 27px 8%;
	align-items: center;
	background: #070707;
}

nav .logo {
	color: #fff;
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

@media screen and (max-width: 760px) {
	nav .logo img {
		max-width: 120px;
	}
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

nav ul li {
	text-transform: uppercase;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	padding: 16px 20px;
}

nav ul li a.active {
	/* background: linear-gradient(#070707, #070707) padding-box, linear-gradient(to right, #d393ef, #2bd4fb) border-box; */
	background-color: #fd612f;
	border-radius: 10px;
	/* border: 4px solid transparent; */
}

nav ul li a:hover {
	text-decoration: underline;
}

/* -------------------------- GRID -------------------------- */

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	grid-gap: 20px;
	align-items: stretch;
}

/* -------------------------- CARDS PAGE -------------------------- */

.cards-title {
	font-size: 3em;
	font-weight: bold;
	margin: 4rem 0 2rem;
}

/* -------------------------- CARD -------------------------- */

.card {
	display: flex;
	/* justify-content: space-around; */
	position: relative;
	border-radius: 25px;
	border: 2px solid black;
	text-decoration: none;
	cursor: pointer;
	overflow: hidden;
	max-height: 360px;
}

.card:hover {
	box-shadow: 0px 0px 5px 1px #555;
	transition: all 0.3s ease;
}

.card .card-title {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #070707;
	font-weight: bold;
	background-image: url(../images/logo/logo.png);
	background-repeat: no-repeat;
	background-position: center;
}

.card .card-title h2 {
	font-weight: bold;
	color: white;
}

.card .card-details {
	font-size: 1.25em;
	font-weight: 100;
	line-height: 1.75;
	word-break: break-all;
	padding: 4rem 10px;
}

.card .card-details h2 {
	word-break: break-word;
}

.card .card-email {
	margin-bottom: 10px;
}

.card .card-actions {
	position: absolute;
	bottom: 0;
	right: 20px;
}

.card .card-actions button {
	/* all: unset; */
	margin-right: 10px;
	padding: 10px;
	border-radius: 15px 15px 0 0;
	border: 2px solid #fd612f;
	border-bottom: none;
	cursor: pointer;
}

.card .card-actions button:hover {
	background-color: #fd612f;
	color: white;
}

/* -------------------------- UTILS -------------------------- */

.page-title {
	text-align: center;
	color: #070707;
	margin-top: 2rem;
}

.p-50 {
	padding-bottom: 50px;
}
